<!DOCTYPE html>
<html>

<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <style>
        /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <button>Oppose</button>
    <div id="map" style="border: 2px solid black;">{{db_result}}</div>
    <script>
        /*var map = L.map('map', {
            center: [51.505, -0.09],
            zoom: 13
        });

        var x = document.getElementById("demo");*/
        $(document).ready(function () {
            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }

            function showPosition(position) {
                $.post("/insert_data",
                    {
                        lat: position.coords.latitude,
                        long: position.coords.longitude
                    },
                    function (data, status) {
                        alert("Data: " + data + "\nStatus: " + status);
                    });
            }

            $("button").click(getLocation);
        });


    </script>
</body>

</html>